*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titulo{
    display: grid;
    gap: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
body{
    background-image: url("/imagenes/mas.jpg");
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.formulario{
    background: rgba(43, 42, 42, 0.486);
    box-shadow: 0.6px 0.4px 9px 5px rgba(0, 0, 0, 0.815);
    padding: 6em 4em 2em 4em;
    border-radius: 1em;
    display: grid;
    gap: 2em;
    margin-top: 3em;
}                                                               
.formulario p{
    font-size: 2em;
    display: flex;
    place-content: center;
    font-family: 'Courier New', Courier, monospace;
}
.formulario input{
    outline: none;
}
form{
    display: grid;
    gap: 1em;
}
#barra{
    width: 25.5em;
    height: 3.5em;
    border: none;
    padding-left: 3em;
    border-radius: 1em;
    background: rgba(248, 248, 248, 0.548);
}
.ingreso_login{
    display: grid;
    gap: 1em;
}
 #icono{
    width: 2em;
    height: 2em;
}
.iconos{
    display: flex;
}
.login{
    background: rgba(5, 101, 153, 0.947);
    border: none;
    border-radius: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 3em;
    color: white;
    cursor: pointer;
}
.login:focus,
.login:hover{
    background: rgb(39, 174, 219);
}
i{
    position: absolute;
    font-size: 2em;
    padding: 0.1em;
}
.botones{
    margin-top: 3em;
    display: grid;
    gap: 1em;
}
::placeholder{
    color: rgb(0, 0, 0);
}